<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">abcbank.com <i>BANKING WANTS TO BE SIMPLE </i> is an initiative to help the upcoming
            customers with the banking. ABC Bank focuses on providing the most easiest loans or deposits as the interest wants
            to be simple. We will help customers build up interest in different deposits and loans that include Fixed deposit,
            Recurring deposit, Gold loan, Land loan, Study loan, Business loans, and House loans.</p>
        </div>
  
        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">Credit</a></li>
            <li><a href="#">Debit</a></li>
            <li><a href="#">Personal loans</a></li>
            <li><a href="#">Deposits</a></li>
            <li><a href="#">Accounts</a></li>
            <li><a href="#">Interests</a></li>
          </ul>
        </div>
  
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
            <a href="#">ABC Bank</a>.
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><img class="iconimg" src="\assets\fb.png" alt="fb"></a></li>
            <li><a class="twitter" href="#"><img class="iconimg" src="\assets\x.png" alt="x"></a></li>
            <li><a class="dribbble" href="#"><img class="iconimg" src="\assets\dri.png" alt="dri"></a></li>
            <li><a class="linkedin" href="#"><img class="iconimg" src="\assets\in.png" alt="in"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>