<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span><img src="\assets\logo.png" alt="logo"></span>
        <span routerLink="/home">Home</span>
        <span routerLink="/cars">Cars</span>
        <span routerLink="/parts">Parts</span>
        <span routerLink="/staff">Staff</span>
        <span routerLink="/billing">Billing</span>
        <span class="example-spacer"></span>
  
        <button mat-stroked-button routerLink="/login">
          <p>Logout</p>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
